
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
main {
  overflow: hidden;
}
a {
  text-decoration: none;
}
figure {
  margin: 0;
  padding: 0;
}
.btn:focus {
  outline: none;
}
h1{
  font-family: 'Gentium Book Plus', serif;
  font-size: 60px;
}
h2,
h3{
  font-family: 'Rubik', sans-serif;  
  font-weight: bolder;
}
h4{
  font-family: 'Gentium Book Plus', serif;
  font-weight: bold;
  font-size: 24px;
}
h5{
  font-family: 'Gentium Book Plus', serif;
  font-weight: 600;
  font-size: 25px;
}
h6{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

p {
  font-family: 'Rubik', sans-serif;  
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.btn-transparaent{
  font-family: 'Rubik', sans-serif;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}
.btn-transparaent:hover{
  transform: translateY(-8px);
  background-color: #fff;
  color: #01a544 !important;
}
.btn-solid{
  padding: 7px 15px;
  font-family: 'Rubik', sans-serif;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  color: #01a544;
  transition: 0.5s;
  font-weight: 500;
  font-weight: 600;
  font-size: 20px;
}
.btn-solid:hover{
  transform: translateY(-8px);
  border: 1px solid #fff;
  color: #ffffff;
  background-color: transparent;
}

.btn-on-white{
  font-family: 'Rubik', sans-serif;
  padding: 10px 20px;
  border: 1px solid #01a544;
  border-radius: 30px;
  background-color: #01a544;
  color: #fff;
  transition: 0.5s;
  font-weight: 600;
  font-size: 20px;
}
.btn-on-white:hover{
  transform: translateY(-8px);
  border: 1px solid #01a544;
  color: #01a544;
  background-color: #fff;
}

.green{
  color: #01a544;
}
/* header started  */

.main-header .inner-main-header{
  position: relative;
  z-index: 999;
  padding: 10px 0 0;
}
.main-header .nav-btn {
  font-family: 'Rubik', sans-serif;
  padding: 7px 25px;
  border: 1px solid #01a544;
  border-radius: 30px;
  background-color: #01a544;
  color: #000;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-family: 'Rubik', sans-serif;
  padding: 6px 33px;
  border: 1px solid #111312;
  border-radius: 30px;
  background-color: #111312;
  color: #ffffff;
  transition: 0.5s;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 400;
}
.main-header .nav-btn-tw:hover{
  background-color: #01a544;
  transition: 0.5s;
}
.main-header .nav-btn:hover{
  background-color: #111312;
  color: #01a544;
  transition: 0.5s;

}
.main-header .con-btn .fa-phone{
  color: #fff ;
} 
.main-header .navbar-nav .nav-link{
  font-family: 'Rubik', sans-serif;
  color: #4f4f4f;
  margin: 0 10px;
  font-weight: 500;
  font-size: 20px;
}
.main-header .navbar-nav .nav-link:hover{
  color: #01a544 !important;
}
.main-header .navbar-nav li.nav-item {
  padding-right: 25px;
}
/* below text line annimation strt */
.main-header ul {
  padding: 0;
  display: flex;
}

.main-header li {
  list-style-type: none;
}

.main-header a {
  text-decoration: none;
  position: relative;
  font-family: 'Rubik', sans-serif; 
  font-size: 15px;
  color: #303030;
  line-height: 35px;
  font-weight: 500;
  
}
.main-header a:hover{
  color: #01a544;
  transition: 0.5s;
}

.main-header ul li a:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01a544;
  position: absolute;
  top: 80%;
  left: 0;
  transition: all 0.5s;
}

.main-header ul li a:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01a544;
  position: absolute;
  top: 80%;
  right: 0;
  transition: all 0.5s;
}

.main-header ul li a:hover:before {
  width: 45%;
  transform: translateX(100%);
}

.main-header ul li a:hover:after {
  width: 45%;
  transform: translateX(-100%);
}

/* ............................. */
.main-header {
  padding: 26px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  transition: 0.5s;
}

.bg_header{
  background-color: #ececec;
  padding: 1px 0 0;
}

.main-header .main-logo-img {
  width: 100px;
}

.main-header .header-button {
  padding: 12px 12px 12px;
  border: 2px solid #303030;
  border-radius: 17px;
  color: #303030;
  margin: 0 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
}

.main-header .header-button:hover {
  background-color: #759e27;
  color: #fff;
  box-shadow: #759e27;
  border-color: #fff;
}

.main-header .header-button-green {
  padding: 12px 15px;
  border: 2px solid #759e27;
  border-radius: 17px;
  font-size: 13px;
  color: #fff;
  background-color: #759e27;
  margin: 0 0px 0 50px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
}

.main-header .header-button-green:hover {
  background-color: #fff;
  color: #759e27;
  border: 2px solid #759e27;
  box-shadow: #759e27;
}

/* ............................. */
/* header end */

/* banner start here */
.main-banner{
  background-image: url(../images/webp-folder/banner-main-img.png);
  width: 100%;
  height: 90vh;
  padding: 190px 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-banner::before{
  position: absolute;
  content: '';
  background-image: url(../images/webp-folder/banner-boy.png);
  width: 484px;
  height: 100%;
  bottom: -147px;
  background-size: contain;
  right: 0px;
  background-repeat: no-repeat;
}
.main-banner .banner-buttons{
  padding: 60px 0 0;
}
.main-banner .banner-form{
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.766);
  padding: 30px;
  width: 65%;
}

.main-banner .form-select{
border-radius: 30px;
}
.form-select {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #8f8a8a;
  padding-left: 40px;
}
.main-banner .form-select:focus {
  border-color: #86fe95;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 253 102 / 25%);
}
.main-banner .price-and-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
}
.banner-text{
  font-size: 25px;
  font-weight: 400;
}
.list-banner{
  font-size: 23px;
  font-weight: 400;
}
.gaq{
font-size: 35px;
}
.form-hed{
  font-size: 22px;
}
/* banner end here */

/* section two css start here */
.abc{
  text-align: center;
}
.abc:hover .icon {
 
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}
/* section two css ends here */

/* section three css satrt here */
.section-three{
  background-image: url(../images/webp-folder/order-now.png);
  width: 100%;
  height: 100%;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.girl-img{
  display: none;
}
/* sectin three css ends here */

/* section four css atrt here */

.section-four .service-card{
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 70px 23px 20px 25px;
  margin: 60px 0;
  box-shadow: rgb(0 0 0 / 22%) 0px 0px 7px;
  position: relative;
  height: 331px;
}
.section-four .service-img{
  position: absolute;
  top: -55px;
  content: "";
  left: 40px;
  width: 25%;
  filter: drop-shadow(0px 4px 4px rgb(255, 255, 255));
  border: 7px solid #fff;
  border-radius: 70px;
}
/* section four css ends here */

/* section cta one css starts here  */
.gap-in {
  padding: 0px 0px 0px 120px;
}
.cta-one{
  background-image: url(../images/cta-one-bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  margin: 40px 0;
  position: relative;
}
.book-girl{
   position: absolute;
   width: 18%;
   height: 137%;
   top: 25px;
   background-repeat: no-repeat;
   background-size: contain;
}
/* section cta two css ends here */

/* book css start here */

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  margin-top: 100px;
}

/*** OPEN BOOK ***/
#wrapper .book-para{
  font-size: 16px;
}
.open-book {
  background: #ececec;
  box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
}

.open-book * {
  position: relative;
}


/* Header/Footer */
.open-book header {
  padding-bottom: 1em;
}

.open-book header *,
.open-book footer * {
  font: 700 1em/1.25 'Playfair Display', sans-serif;
  letter-spacing: 0.125em;
  margin: 0;
}

.open-book header * {
  font-size: 0.75em;
  text-transform: uppercase;
}

.open-book footer {
  padding-top: 1em;
}

.open-book footer #page-numbers {
  display: none;
  list-style: none;
  padding: 0;
  text-align: left;
}

.open-book footer #page-numbers > li:last-child {
  text-align: right;
}

/* Body Copy */
.open-book article {
  line-height: 1.5;
}

.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 33.125em;
}


.open-book .chapter-title + p:first-of-type:first-letter {
  float: left;
  font: 700 3em/0.65 'Playfair Display', sans-serif;
  padding: 0.15em 0.05em 0 0;
  text-transform: uppercase;
}

.open-book article > ul,
.open-book article > ol {
  padding-left: 3em;
}

.open-book article > ul ul {
  padding-left: 1em;
}

.open-book a {
 
  background-size: auto 0.5em;
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}

.open-book sup {
  color: #cc0000;
  font-family: 'Rock Salt', cursive;
  left: 0;
  margin-top: -1em!important;
  max-width: 100%!important;
  position: absolute;
  text-align: center;
  width: 100%;
}

.open-book mark {
  background: linear-gradient(to bottom, rgba(222,255,0,1) 0%,rgba(222,255,0,0.5) 60%,rgba(222,255,0,1) 100%);
}

.open-book mark.pink {
  background: linear-gradient(to bottom, rgba(255,69,190,1) 0%,rgba(255,107,203,0.5) 60%,rgba(255,107,203,1) 100%);
}

.open-book mark.blue {
  background: linear-gradient(to bottom, rgba(73,179,255,1) 0%,rgba(107,193,255,0.5) 60%,rgba(107,193,255,1) 100%);
}

.open-book mark.green {
  background: linear-gradient(to bottom, rgba(67,226,15,1) 0%,rgba(39,229,54,0.5) 60%,rgba(39,229,54,1) 100%);
}

.open-book mark.orange {
  background: linear-gradient(to bottom, rgba(255,134,9,1) 0%,rgba(255,177,34,0.5) 60%,rgba(255,177,34,1) 100%);
}


.open-book dl {
  border: solid 0 #ccc;
  border-width: 0.0625em 0;
  break-inside: avoid-column;
  margin: 1em auto;
  padding: 1em 0;
}
.open-book{
  width: 100%;
}
.open-book h1{
  font-size: 27px;
  font-weight: bolder;
}


/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 50em ) {

  .open-book {
      margin: 1em;
      position: relative;
  }

  .open-book:before {
      background-color: #118741;
      border-radius: 0.25em;
      bottom: -1em;
      content: '';
      left: -1em;
      position: absolute;
      right: -1em;
      top: -1em;
      z-index: -1;
  }

  .open-book:after {
    background-image: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
    background-image: url(../images/pile.png);
    bottom: -1em;
    content: '';
    left: 54%;
    position: absolute;
    top: 6em;
    transform: translate(-80%,0);
    width: 7em;
    z-index: 1;
    background-repeat: no-repeat;
}

  .open-book > * {
      column-count: 2;
      column-gap: 6em;
      position: relative;
      z-index: 1;
  }

  /* Header/Footer */
  .open-book header:before,
  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
      background: #fff;
      border-radius: 25%;
      content: '';
      height: 2em;
      position: absolute;
      z-index: -1;
      width: calc(50% + 2em);
  }

  .open-book header:before,
  .open-book footer:before,
  .open-book footer:after {
      border-top-left-radius: 0;
  }

  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
      border-top-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:after {
      border-bottom-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:before {
      border-bottom-left-radius: 0;
  }

  .open-book header:before,
  .open-book header:after {
      top: -2.65em;
  }

  .open-book header:before,
  .open-book footer:before {
      right: 50%;
  }

  .open-book header:before {
      transform: rotate(-2deg);
      background: #ececec;
  }

  .open-book header:after,
  .open-book footer:after {
      left: 50%;
  }

  .open-book header:after {
      transform: rotate(2deg);
      background: #ececec;
  }

  .open-book footer:before,
  .open-book footer:after {
      bottom: -2.65em;
  }

  .open-book footer:before {
      transform: rotate(2deg);
      background: #ececec;
  }

  .open-book footer:after {
      transform: rotate(-2deg);
      background: #ececec;
  }

  .open-book header > *:last-child,
  .open-book footer > *:last-child {
      text-align: right;
  }

  .open-book footer #page-numbers {
      display: block;
  }

  /* Chapter Title */
  .open-book .chapter-title {
      font-size: 3em;
  }

  .open-book .chapter-title:before,
  .open-book .chapter-title:after {
      height: 0.125em;
  }

  /* Body Copy */

  .open-book article > ul,
  .open-book article > ol {
      padding-left: 4em;
  }

}
/* book css ends here */

/* section seven css start here */
.section-seven{
  box-shadow: rgb(0 0 0 / 22%) 0 0px 20px;
  background-color: #ebebeb;
  margin: 100px 0;
  padding: 65px 0;
}
.section-seven .price-box {
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: rgb(0 0 0 / 21%) 0 1px 10px;
  border-radius: 15px;
  padding: 60px 0px;
  transition: box-shadow 0.3s ease; 
}

.section-seven .price-box:hover {
  box-shadow: rgb(0 0 0 / 50%) 0 4px 20px; 
}
/* section seven css ends here */

/* section eight css start here */
.section-eight{
}
.section-eight .icons-images{
  text-align: center;
}
.circle{
  text-align: center;
}
.line{
  position: relative;
  top: -80px;
  right: -60px;
}
.line::before{
  position: absolute;
  content: '';
  background-color: #383838;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  top: 60px;
}
.circle-num{
  background-color: #01a544;
  border-radius: 30px;
  position: absolute;
  padding: 10px 15px;
  color: #fff;
}

/* section eight css ends here */

/* section nine css start here */
.section-nine{
  background-color: #01a544;
  padding: 60px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 80px 0;
}
.section-nine .details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-nine .st{
  flex-direction: column;
}
.section-nine .review {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 20px 35px;
  position: relative;
  box-shadow: rgb(0 0 0 / 21%) 0 1px 10px;
  transition: transform 0.3s ease;
}

.section-nine .review:hover {
  transform: scale(1.1); 
}
.section-nine .rev-img{
  position: absolute;
  top: -40px;
  background-size: contain;
  width: 25%;
  height: 25%;
}
.section-nine .name-and-star{
  margin: 0 0 10px;
  text-align: center;
}
/* section nine css ends */

/* section ten css start here */
.section-ten .slick-dots {
  position: absolute;
  content: '';
    bottom: -25px;
    width: 240px;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.section-ten .testi-img{
width: 100%;
}
.section-ten .testimonial-text{
  position: relative;
  margin: 50px 0;
}
.section-ten .testimonial-text::before{
  position: absolute;
  content: '';
  background-image: url(../images/coma-1.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.section-ten .testimonial-text::after{
  position: absolute;
  content: '';
  background-image: url(../images/coma-2.png);
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  right: 0;
  bottom: -35px;
}
.section-ten .name-and-rev{text-align: right;padding: 0px 0 10px;}

.section-ten .slick-dots li {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid;
  width: 40px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.section-ten .slick-dots li.slick-active {
  opacity: .75;
  background-color: #01a544;
  width: 80px;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
/* section ten css ends here */

/* section eleven css start here */
.section-eleven{
  background-image: url(../images/tabs-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  padding: 50px 0;
  box-shadow: rgb(0 0 0 / 22%) 0 0px 20px;
  margin: 70px 0 50px;
}
.section-eleven .box{
  text-align: center;
  background-color: #01a544;
    color: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 130px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-eleven .tab-btn{
  transition: 0.5s;
  color: #000000;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000000;
  font-family: 'Rubik', sans-serif;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  height: 6vh;
}
.section-eleven .tab-btn:hover{
  color: #fff;
  background-color: #01a544;
  border-radius: 30px;
  border: 1px solid #01a544;
}
.section-eleven .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #01a544;
  border-radius: 30px;
  border: 1px solid #01a544;
}
.section-eleven  .btns-border{
  border: 2px solid #01a544;
  border-radius: 20px;
  padding: 20px 50px;
  height: 75vh;
  justify-content: space-between;
}
/* section eleven css ends here */

/* section FAQ start here */
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px 20px 20px 20px !important;
  margin: 20px 0;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 10px;
}
.accordion a:hover,
.accordion a:hover::after {
  transition: 0.5s;
  cursor: pointer;
  color: #01a544;
  background-color: transparent;
}
.accordion a:hover::after {
  border: 2px solid #01a544;
}
.accordion a.active {
  color: #01a544;
  border-bottom: 2px solid #ffffff;
}
.accordion a::after {
  font-family: "Font Awesome 6 Pro";
  content: '\2b';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
  border: 2px solid #01a544;
  color: #fff;
  background-color: #01a544;
}
.accordion a.active::after {
  font-family: "Font Awesome 6 Pro";
  content: '\f00d';
  color: #01a544;
  border: 2px solid #01a544;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  border-radius: 20px;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
/* section faq ends here */

/* ORDER FORM  */
.order-now {
  margin-top: 150px;
} 
.order-now .input-group > .form-control, .input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-radius: 30px;
  padding: 11px 40px;
  border: 1px solid #01a544;
}
.order-now .form-control{
  font-weight: 600;
  border: 1px solid #01a544;
}

.order-now .form-control-2 {
  font-weight: 500;
  margin: 0 0 7px 0;
  color: #8f8a8a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8f8a8a47;
  font-weight: 600;
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  resize: none;
  font-family: 'Rubik', sans-serif;
  padding: 11px 40px;
  border: 1px solid #01a544;
}

.order-now .cta-live-chat{
  background: #01a544;
  padding: 25px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(2, 2, 2, 0.2);
  position: relative;
  overflow: hidden;
  color: #fff;
}
.order-now .cta-live-chat::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: url(../images/chat-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payment-and-sec{
  text-align: center;
  margin: 40px 0;
  color: #01a544;
  border: 2px solid #01a544;
  border-radius: 30px;
  padding: 30px 0;
  box-shadow: 0 0 5px 3px rgba(2, 2, 2, 0.2);
}
/* FORDER FORM */

/* contact form */
.form-floating > .form-control {
  font-family: 'Rubik', sans-serif;
  padding: 1rem 40px;
  font-weight: 500;
  margin: 0 0 7px 0;
  color: #8f8a8a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8f8a8a47;
  font-weight: 600;
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  resize: none;
  font-family: 'Rubik', sans-serif;
  border: 1px solid #01a544;
}
/* contact form */

/* fotter start  here */
.main-footer{background-color: #383838;padding: 50px 0px 15px;overflow-x: hidden;}
.main-footer a{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}
.main-footer a:hover{
  transition: 0.5s;
  color: #01a544;
}
.main-footer h6{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}
.main-footer p{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.social_media_btns ul {
  display: flex;
  align-items: center;
}

.social_media_btns a {
  color: #000000;
  font-size: 18px;
}

.social_media_btns li:nth-child(1) {
  background: #fff;
}

.social_media_btns li {
  width: 35px;
  padding: 4px 8px;
  border-radius: 30px;
  text-align: center;
  margin-right: 15px;
}

.social_media_btns li:nth-child(2) {
  background: #fff;
}

.social_media_btns li:nth-child(3) {
  background: #fff;
}

.social_media_btns li:nth-child(4) {
  background: #fff;
}
/* footer ends heere */
/*
font-family: 'Gentium Book Plus', serif;
font-family: 'Rubik', sans-serif;   
*/
/************************** media-query **************************/

@media only screen and (min-width: 1921px) and (max-width: 7368px) {
/* HEADER */
.main-header {
  padding: 0px 20px 0;
  background-color: white;
}
.main-header .nav-btn {
font-size: 15px;
font-weight: 400;
}
.main-header .nav-btn-tw{
font-size: 15px;
font-weight: 400;
margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
font-size: 16px;
}
/* HEADER */

/* MAIN BANNER  */
.main-banner {
  padding: 100px 25px 100px;
  height: 120vh;
}
.banner-text {
font-size: 20px;
}
.list-banner {
font-size: 17px;
font-weight: 400;
}

.main-banner .banner-buttons {
padding: 35px 0 0;
display: flex;
justify-content: start;
align-items: center;
}

.form-hed {
font-size: 18px;
} 

.gaq {
font-size: 30px;
}
.main-banner .banner-form {
padding: 18px;
width: 75%;
margin: 40px 0 0;
}
.main-banner::before {
width: 394px;
height: 100%;
bottom: -147px;
right: -35px;
}
/* MAIN BANNER */

/* SECTION TWO */
.section-two{
  padding:25px;
}
/* SECTION TWO */

/* SECTION THREE */
.section-three{
  padding: 25px 15px;
  background-position: right;
}
.girl-img {
  /* display: block; */
  /* padding: 0 0px 40px; */
}
/* SECTION THREE */

/* SECTION FOUR */
.section-four{
padding: 25px;
}
.section-four .service-img {
  top: -60px;
  left: 25px;
  width: 35%;
}
.section-four .service-card {
height: 249px;
}
/* SECTION FOUR */

/* CTA */
.cta-one {
  height: 58vh;
  margin: 42px 0;
  padding: 25px;
}

.book-girl {
width: 100%;
position: relative;
top: -30px;
}
/* CTA */

/* WRAPPER */
.open-book h1 {
  font-size: 18px;
}
#wrapper .book-para {
font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
margin: 10px 0px auto;
max-width: 54.125em;
}
#wrapper {
max-width: 65em;
}
.open-book:after {
top: 1em;
}
/* WRAPPER */

/* SECTION SEVEN */
.section-seven{
  padding: 25px;
}
.section-seven .price-box {
  padding: 60px 20px;
}
/* SECTION SEVEN */

/* SECTION EIGHT */
.section-eight{
  padding: 25px;
}

.section-eight  .justify-content-start {
justify-content: center;
}

.section-eight{
display: block;
}
.section-eight-mob{
display: flex;
justify-content: center;
align-items: center;
display: none;
}
/* SECTION EIGHT */

/* SECTION NINE */
.section-nine .review {
  margin: 0 15px;
}
.section-nine .rev-img {
top: 9px;
left: 4px;
width: 25%;
height: 13%;
}
/* SECTION NINE */

/* SECTION TEN */
.section-ten .testi-img {
  width: 100%;
  padding: 0 10px;
}
.section-ten .testimonial-text {
  padding: 0 20px;
}
.testipara{
  font-size: 15px !important;
}
.testi-h{
  font-size: 20px !important;
}
/* SECTION TEN */

/* SECTION ELEVEN */
.section-eleven {
  padding: 50px 15px;
}
.section-eleven .tab-btn {
margin: 0px 0;
font-size: 15px;
font-weight: 500;
height: 8vh;
}
.cvc{
font-size: 25px !important;
padding: 20px 0;
}
.four-box{
margin: 35px 0;
}
/* SECTION ELEVEN */

/* SECTION FAQ */
.accordion-item {
  margin: 20px 15px;
}
/* SECTION FAQ */

/* ABOUT US SECTION */
.about-section {
  padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
position: relative;
padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
bottom: 175px;
padding: 10px 10px;
left: 0px;
width: calc(145% - 125px);
border-radius: 10px;
}
.sec-title h2 {
font-size: 25px;
}
/* ABOUT US SECTION */

/* ORDER NOW PAGE */
.order-now {
  margin-top: 100px;
  padding: 0 20px;
}
/* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
font-size: 45px;
}
h4{
font-size: 20px;
}
h5{
font-size: 19px;
}
h6{
font-size: 15px;
}
p {
font-size: 15px;
}
.btn-transparaent {
font-size: 15px;
margin-left: 20px;
padding: 8px 10px;
}
.btn-solid {
font-weight: 600;
font-size: 15px;
padding: 8px 10px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
 /* HEADER */
 .main-header {
  padding: 0px 20px 0;
  background-color: white;
}
.main-header .nav-btn {
font-size: 15px;
font-weight: 400;
}
.main-header .nav-btn-tw{
font-size: 15px;
font-weight: 400;
margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
font-size: 16px;
}
/* HEADER */

/* MAIN BANNER  */
.main-banner {
  padding: 100px 25px 100px;
  height: 120vh;
}
.banner-text {
font-size: 20px;
}
.list-banner {
font-size: 17px;
font-weight: 400;
}

.main-banner .banner-buttons {
padding: 35px 0 0;
display: flex;
justify-content: start;
align-items: center;
}

.form-hed {
font-size: 18px;
} 

.gaq {
font-size: 30px;
}
.main-banner .banner-form {
padding: 18px;
width: 75%;
margin: 40px 0 0;
}
.main-banner::before {
width: 394px;
height: 100%;
bottom: -147px;
right: -35px;
}
/* MAIN BANNER */

/* SECTION TWO */
.section-two{
  padding:25px;
}
/* SECTION TWO */

/* SECTION THREE */
.section-three{
  padding: 25px 15px;
  background-position: right;
}
.girl-img {
  /* display: block; */
  /* padding: 0 0px 40px; */
}
/* SECTION THREE */

/* SECTION FOUR */
.section-four{
padding: 25px;
}
.section-four .service-img {
  top: -60px;
  left: 25px;
  width: 35%;
}
.section-four .service-card {
height: 249px;
}
/* SECTION FOUR */

/* CTA */
.cta-one {
  height: 58vh;
  margin: 42px 0;
  padding: 25px;
}

.book-girl {
width: 100%;
position: relative;
top: -30px;
}
/* CTA */

/* WRAPPER */
.open-book h1 {
  font-size: 18px;
}
#wrapper .book-para {
font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
margin: 10px 0px auto;
max-width: 54.125em;
}
#wrapper {
max-width: 65em;
}
.open-book:after {
top: 1em;
}
/* WRAPPER */

/* SECTION SEVEN */
.section-seven{
  padding: 25px;
}
.section-seven .price-box {
  padding: 60px 20px;
}
/* SECTION SEVEN */

/* SECTION EIGHT */
.section-eight{
  padding: 25px;
}

.section-eight  .justify-content-start {
justify-content: center;
}

.section-eight{
display: block;
}
.section-eight-mob{
display: flex;
justify-content: center;
align-items: center;
display: none;
}
/* SECTION EIGHT */

/* SECTION NINE */
.section-nine .review {
  margin: 0 15px;
}
.section-nine .rev-img {
top: 9px;
left: 4px;
width: 25%;
height: 13%;
}
/* SECTION NINE */

/* SECTION TEN */
.section-ten .testi-img {
  width: 100%;
  padding: 0 10px;
}
.section-ten .testimonial-text {
  padding: 0 20px;
}
.testipara{
  font-size: 15px !important;
}
.testi-h{
  font-size: 20px !important;
}
/* SECTION TEN */

/* SECTION ELEVEN */
.section-eleven {
  padding: 50px 15px;
}
.section-eleven .tab-btn {
margin: 0px 0;
font-size: 15px;
font-weight: 500;
height: 8vh;
}
.cvc{
font-size: 25px !important;
padding: 20px 0;
}
.four-box{
margin: 35px 0;
}
/* SECTION ELEVEN */

/* SECTION FAQ */
.accordion-item {
  margin: 20px 15px;
}
/* SECTION FAQ */

/* ABOUT US SECTION */
.about-section {
  padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
position: relative;
padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
bottom: 175px;
padding: 10px 10px;
left: 0px;
width: calc(145% - 125px);
border-radius: 10px;
}
.sec-title h2 {
font-size: 25px;
}
/* ABOUT US SECTION */

/* ORDER NOW PAGE */
.order-now {
  margin-top: 100px;
  padding: 0 20px;
}
/* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
font-size: 45px;
}
h4{
font-size: 20px;
}
h5{
font-size: 19px;
}
h6{
font-size: 15px;
}
p {
font-size: 15px;
}
.btn-transparaent {
font-size: 15px;
margin-left: 20px;
padding: 8px 10px;
}
.btn-solid {
font-weight: 600;
font-size: 15px;
padding: 8px 10px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 1445px) and (max-width: 1599px) {
   /* HEADER */
   .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 16px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
  padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
  font-size: 20px;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 102vh;
}
.banner-text {
  font-size: 20px;
}
.list-banner {
  font-size: 17px;
  font-weight: 400;
}

.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-hed {
  font-size: 18px;
} 

.gaq {
  font-size: 30px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 75%;
  margin: 40px 0 0;
}
.main-banner::before {
  width: 394px;
  height: 100%;
  bottom: -158px;
  right: -60px;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    /* display: block; */
    /* padding: 0 0px 40px; */
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -60px;
    left: 25px;
    width: 35%;
}
.section-four .service-card {
  height: 249px;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 230px;
    margin: 42px 0;
    padding: 25px;
    width: 100%;
}

.book-girl {
  width: 220px;
  position: relative;
  top: -50px;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
  text-align: justify;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 54.125em;
}
#wrapper {
  max-width: 65em;
}
.open-book:after {
  top: 1em;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: block;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: 9px;
  left: 35px;
  width: 20%;
  height: 15%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 10px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 20px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 15px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
  /* ABOUT US SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 45px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 15px;
}
.btn-transparaent {
  font-size: 15px;
  margin-left: 20px;
  padding: 13px 13px;
}
.btn-solid {
  font-weight: 600;
  font-size: 15px;
  padding: 13px 13px;
}
/* MAIN UNIVERSEAL CSS'S*/
 
}

@media only screen and (min-width: 1366px) and (max-width: 1444px) {
   /* HEADER */
   .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 13px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 13px;
  font-weight: 400;
  margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
  padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
  font-size: 13px;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 140vh;
}
.banner-text {
  font-size: 18px;
}
.list-banner {
  font-size: 15px;
  font-weight: 400;
}

.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-hed {
  font-size: 18px;
} 

.gaq {
  font-size: 30px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 75%;
  margin: 40px 0 0;
}
.main-banner::before {
  width: 394px;
  height: 100%;
  bottom: -147px;
  right: -90px;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    /* display: block; */
    /* padding: 0 0px 40px; */
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -60px;
    left: 25px;
    width: 35%;
}
.section-four .service-card {
  height: 249px;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 58vh;
    margin: 42px 0;
    padding: 25px;
}

.book-girl {
  width: 100%;
  position: relative;
  top: -30px;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 54.125em;
}
#wrapper {
  max-width: 65em;
}
.open-book:after {
  top: 1em;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: block;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: 9px;
  left: 4px;
  width: 25%;
  height: 13%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 10px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 20px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 11px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
  /* ABOUT US SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 40px;
}
h4{
  font-size: 15px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 15px;
}
.btn-transparaent {
  font-size: 12px;
  margin-left: 20px;
  padding: 8px 10px;
}
.btn-solid {
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* HEADER */
  .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 13px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 13px;
  font-weight: 400;
  margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
  padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
  font-size: 13px;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 140vh;
}
.banner-text {
  font-size: 18px;
}
.list-banner {
  font-size: 15px;
  font-weight: 400;
}

.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-hed {
  font-size: 18px;
} 

.gaq {
  font-size: 30px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 75%;
  margin: 40px 0 0;
}
.main-banner::before {
  width: 394px;
  height: 100%;
  bottom: -147px;
  right: -90px;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    /* display: block; */
    /* padding: 0 0px 40px; */
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -40px;
    left: 25px;
    width: 35%;
}
.section-four .service-card {
  height: 271px;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 50vh;
    margin: 42px 0;
    padding: 25px;
}

.book-girl {
  width: 100%;
  position: relative;
  top: -30px;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 54.125em;
}
#wrapper {
  max-width: 65em;
}
.open-book:after {
  top: 1em;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: block;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: 9px;
  left: 4px;
  width: 25%;
  height: 13%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 10px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 20px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 11px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
  /* ABOUT US SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 40px;
}
h4{
  font-size: 15px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 15px;
}
.btn-transparaent {
  font-size: 12px;
  margin-left: 20px;
  padding: 8px 10px;
}
.btn-solid {
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* HEADER */
  .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 13px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 13px;
  font-weight: 400;
  margin: 0 5px;
}
.main-header .navbar-nav li.nav-item {
  padding-right: 0px;
}
.main-header .navbar-nav .nav-link {
  font-size: 13px;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 155vh;
}
.banner-text {
  font-size: 18px;
}
.list-banner {
  font-size: 18px;
  font-weight: 400;
}
.main-banner::before {
  display: none;
}
.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-hed {
  font-size: 18px;
} 

.gaq {
  font-size: 30px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 100%;
  margin: 40px 0 0;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    display: block;
    padding: 0 0px 40px;
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -60px;
    left: 25px;
    width: 45%;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 50vh;
    margin: 42px 0;
    padding: 25px;
}

.book-girl {
  width: 100%;
  position: relative;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 54.125em;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: none;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: -6px;
  left: 14px;
  width: 25%;
  height: 20%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 10px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 20px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 20px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
.about-section .sec-title {
  margin: 130px 0 50px !important;
}
  /* ABOUT US SECTION */

   /* PRICING SECTION */
   .prcing-table .icon {

    left: 210px;
}
  /* ORICING SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 40px;
}
h4{
  font-size: 15px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 15px;
}
.btn-transparaent {
  font-size: 12px;
  margin-left: 20px;
  padding: 8px 10px;
}
.btn-solid {
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   /* HEADER */
   .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 13px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 13px;
  font-weight: 400;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 200vh;
}
.banner-text {
  font-size: 25px;
}
.list-banner {
  font-size: 18px;
  font-weight: 400;
}
.main-banner::before {
  display: none;
}
.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-hed {
  font-size: 25px;
} 

.gaq {
  font-size: 40px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 100%;
  margin: 40px 0 0;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    display: block;
    padding: 0 0px 40px;
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -60px;
    left: 25px;
    width: 45%;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 160vh;
    margin: 42px 0;
    padding: 25px;
}

.book-girl {
  width: 100%;
  position: relative;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
}
.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 10px 0px auto;
  max-width: 54.125em;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: none;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: -14px;
  left: 100px;
  width: 19%;
  height: 27%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 70px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 30px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 20px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
.about-section .sec-title {
  margin: 130px 0 50px !important;
}
  /* ABOUT US SECTION */

   /* PRICING SECTION */
   .prcing-table .icon {

    left: 110px !important;
}
  /* ORICING SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 40px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 18px;
}
.btn-transparaent {
  font-size: 20px;
  margin-left: 20px;
  padding: 13px 15px;
}
.btn-solid {
  font-weight: 600;
  font-size: 20px;
  padding: 13px 15px;
}
/* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
    /* HEADER */
    .main-header {
      padding: 0px 20px 0;
      background-color: white;
  }
  .main-header .nav-btn {
    font-size: 13px;
    font-weight: 400;
  }
  .main-header .nav-btn-tw{
    font-size: 13px;
    font-weight: 400;
  }
    /* HEADER */
  
    /* MAIN BANNER  */
    .main-banner {
      padding: 100px 25px 100px;
      height: 200vh;
  }
  .banner-text {
    font-size: 15px;
  }
  .list-banner {
    font-size: 15px;
    font-weight: 400;
  }
  .main-banner::before {
    display: none;
  }
  .main-banner .banner-buttons {
    padding: 35px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-hed {
    font-size: 15px;
  } 
  
  .gaq {
    font-size: 25px;
  }
  .main-banner .banner-form {
    padding: 18px;
    width: 100%;
    margin: 40px 0 0;
  }
    /* MAIN BANNER */
  
    /* SECTION TWO */
    .section-two{
      padding:25px;
    }
    /* SECTION TWO */
  
    /* SECTION THREE */
    .section-three{
      padding: 25px 15px;
      background-position: right;
    }
    .girl-img {
      display: block;
      padding: 0 0px 40px;
  }
    /* SECTION THREE */
  
    /* SECTION FOUR */
    .section-four{
    padding: 25px;
    }
    .section-four .service-img {
      top: -56px;
      left: 25px;
      width: 25%;
  }
    /* SECTION FOUR */
  
    /* CTA */
    .cta-one {
      height: 160vh;
      margin: 42px 0;
      padding: 25px;
  }
  
  .book-girl {
    width: 100%;
    position: relative;
  }
    /* CTA */
  
    /* WRAPPER */
    .open-book h1 {
      font-size: 18px;
  }
  #wrapper .book-para {
    font-size: 13px;
  }
    /* WRAPPER */
  
    /* SECTION SEVEN */
    .section-seven{
      padding: 25px;
    }
    .section-seven .price-box {
      padding: 60px 20px;
  }
    /* SECTION SEVEN */
  
    /* SECTION EIGHT */
    .section-eight{
      padding: 25px;
  }
  
  .section-eight  .justify-content-start {
    justify-content: center;
  }
  
  .section-eight{
    display: none;
  }
  .section-eight-mob{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    /* SECTION EIGHT */
  
    /* SECTION NINE */
    .section-nine .review {
      margin: 0 15px;
  }
  .section-nine .rev-img {
    top: -14px;
    left: 100px;
    width: 19%;
    height: 27%;
  }
    /* SECTION NINE */
  
    /* SECTION TEN */
    .section-ten .testi-img {
      width: 100%;
      padding: 0 70px;
    }
    .section-ten .testimonial-text {
      padding: 0 20px;
    }
    .testipara{
      font-size: 15px !important;
    }
    .testi-h{
      font-size: 20px !important;
    }
    /* SECTION TEN */
  
    /* SECTION ELEVEN */
    .section-eleven {
      padding: 50px 15px;
  }
  .section-eleven .tab-btn {
    margin: 0px 0;
    font-size: 12px;
    font-weight: 500;
    height: 8vh;
  }
  .cvc{
    font-size: 25px !important;
    padding: 20px 0;
  }
  .four-box{
    margin: 35px 0;
  }
    /* SECTION ELEVEN */
  
    /* SECTION FAQ */
    .accordion-item {
      margin: 20px 15px;
  }
    /* SECTION FAQ */
  
    /* ABOUT US SECTION */
    .about-section {
      padding: 170px 0 70px;
  }
  .about-section .content-column .inner-column {
    position: relative;
    padding-left: 10px;
  }
  .about-section .image-column .inner-column .author-desc {
    bottom: 175px;
    padding: 10px 10px;
    left: 0px;
    width: calc(145% - 125px);
    border-radius: 10px;
  }
  .sec-title h2 {
    font-size: 25px;
  }
  .about-section .sec-title {
    margin: 130px 0 50px !important;
  }
    /* ABOUT US SECTION */
     /* PRICING SECTION */
  .prcing-table .icon {

    left: 210px !important;
}
  /* ORICING SECTION */
  
    /* ORDER NOW PAGE */
    .order-now {
      margin-top: 100px;
      padding: 0 20px;
  }
    /* ORDER NOW PAGE */
  
  
  
  
  
  
  
  
  /* MAIN UNIVERSEAL CSS'S*/
  h1 {
    font-size: 25px;
  }
  h4{
    font-size: 15px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .btn-transparaent {
    font-size: 13px;
    margin-left: 20px;
    padding: 13px 15px;
  }
  .btn-solid {
    font-weight: 600;
    font-size: 13px;
    padding: 13px 15px;
  }
  /* MAIN UNIVERSEAL CSS'S*/
}

@media only screen and (min-width: 320px) and (max-width: 519px) {
  /* HEADER */
  .main-header {
    padding: 0px 20px 0;
    background-color: white;
}
.main-header .nav-btn {
  font-size: 13px;
  font-weight: 400;
}
.main-header .nav-btn-tw{
  font-size: 13px;
  font-weight: 400;
}
  /* HEADER */

  /* MAIN BANNER  */
  .main-banner {
    padding: 100px 25px 100px;
    height: 200vh;
}
.banner-text {
  font-size: 15px;
}
.list-banner {
  font-size: 15px;
  font-weight: 400;
}
.main-banner::before {
  display: none;
}
.main-banner .banner-buttons {
  padding: 35px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-hed {
  font-size: 15px;
} 

.gaq {
  font-size: 25px;
}
.main-banner .banner-form {
  padding: 18px;
  width: 100%;
  margin: 40px 0 0;
}
  /* MAIN BANNER */

  /* SECTION TWO */
  .section-two{
    padding:25px;
  }
  /* SECTION TWO */

  /* SECTION THREE */
  .section-three{
    padding: 25px 15px;
    background-position: right;
  }
  .girl-img {
    display: block;
    padding: 0 0px 40px;
}
  /* SECTION THREE */

  /* SECTION FOUR */
  .section-four{
  padding: 25px;
  }
  .section-four .service-img {
    top: -65px;
    left: 65px;
    width: 45%;
}
  /* SECTION FOUR */

  /* CTA */
  .cta-one {
    height: 130vh;
    margin: 42px 0;
    padding: 25px;
}

.book-girl {
  width: 100%;
  position: relative;
}
  /* CTA */

  /* WRAPPER */
  .open-book h1 {
    font-size: 18px;
}
#wrapper .book-para {
  font-size: 13px;
}
  /* WRAPPER */

  /* SECTION SEVEN */
  .section-seven{
    padding: 25px;
  }
  .section-seven .price-box {
    padding: 60px 20px;
}
  /* SECTION SEVEN */

  /* SECTION EIGHT */
  .section-eight{
    padding: 25px;
}

.section-eight  .justify-content-start {
  justify-content: center;
}

.section-eight{
  display: none;
}
.section-eight-mob{
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* SECTION EIGHT */

  /* SECTION NINE */
  .section-nine .review {
    margin: 0 15px;
}
.section-nine .rev-img {
  top: 5px;
  left: 15px;
  width: 23%;
  height: 15%;
}
  /* SECTION NINE */

  /* SECTION TEN */
  .section-ten .testi-img {
    width: 100%;
    padding: 0 30px;
  }
  .section-ten .testimonial-text {
    padding: 0 20px;
  }
  .testipara{
    font-size: 15px !important;
  }
  .testi-h{
    font-size: 20px !important;
  }
  /* SECTION TEN */

  /* SECTION ELEVEN */
  .section-eleven {
    padding: 50px 15px;
}
.section-eleven .tab-btn {
  margin: 0px 0;
  font-size: 12px;
  font-weight: 500;
  height: 8vh;
}
.cvc{
  font-size: 25px !important;
  padding: 20px 0;
}
.four-box{
  margin: 35px 0;
}
  /* SECTION ELEVEN */

  /* SECTION FAQ */
  .accordion-item {
    margin: 20px 15px;
}
  /* SECTION FAQ */

  /* ABOUT US SECTION */
  .about-section {
    padding: 170px 0 70px;
}
.about-section .sec-title {
  margin: 130px 0 50px !important;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 10px;
}
.about-section .image-column .inner-column .author-desc {
  bottom: 175px;
  padding: 10px 10px;
  left: 0px;
  width: calc(145% - 125px);
  border-radius: 10px;
}
.sec-title h2 {
  font-size: 25px;
}
  /* ABOUT US SECTION */

  /* PRICING SECTION */
  .prcing-table .icon {

    left: 100px !important;
}
  /* ORICING SECTION */

  /* ORDER NOW PAGE */
  .order-now {
    margin-top: 100px;
    padding: 0 20px;
}
  /* ORDER NOW PAGE */








/* MAIN UNIVERSEAL CSS'S*/
h1 {
  font-size: 25px;
}
h4{
  font-size: 15px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 15px;
}
p {
  font-size: 15px;
}
.btn-transparaent {
  font-size: 13px;
  margin-left: 20px;
  padding: 13px 15px;
}
.btn-solid {
  font-weight: 600;
  font-size: 13px;
  padding: 13px 15px;
}
/* MAIN UNIVERSEAL CSS'S*/
}




